{% load static %}

<!DOCTYPE html>
<html>

<head>

    <title>Blog Platform</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

    <div class="container">

        <h1>Blog Platform</h1>

        <hr>

        {% if user.is_authenticated %}

            <p>
                Welcome {{ user.username }}
            </p>

            <a href="{% url 'create_post' %}">
                Create Post
            </a>

            |

            <a href="{% url 'logout' %}">
                Logout
            </a>

        {% else %}

            <a href="{% url 'login' %}">
                Login
            </a>

        {% endif %}

        <hr>

        {% block content %}

        {% endblock %}

    </div>

</body>

</html>